{{{body}}}
<div class="home">
    <div class="box">
    <nav class="navbar">
        <a class="log" href="/login">login</a>
    </nav>
    <div class="container-home">
        <h1>Sign our Petition to help us to stop with animals in circuses!</h1>
    </div>

    <div class="intro">
        <p>Animal exhibitions in circuses show a distorted,view of wildlife,
            setting animals on a life,<br> of incarceration in miserable conditions.
            Many of the animals used in circuses were either<br> violently capturedin the wild,
            or purchased from zoos, where they are also separated<br> from their families.
            In any case, circus animalsare condemned to a life of<br> permanent anguish and depression.</p>
    </div>

    <div class="buttons">
        <div class="btn-reg">
            <a href="/register" class="btn-register">register</a>
        </div>
    </div>
    </div>
</div>